Source: antico-deluxe 
Section: universe/x11
Priority: extra
Maintainer: Antonio Aloisio <gnuton@gnuton.org>
Build-Depends: cdbs, debhelper (>= 7.0.50~), pkg-config, libqt4-dev, libphonon-dev, libxkbfile-dev, libasound2-dev, libxext-dev, libxrender-dev
Standards-Version: 3.8.4

Package: antico-deluxe 
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, xcompmgr
Description: Lightweight Qt Desktop
 Lightweight Qt Desktop
